h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

h1:hover {
    color: red;
    transition: 0.5s;
}

form#planet {
    border: 1px pink solid;
    border-radius: 20px;
    padding: 10px;
}

form#life {
    border: darkblue 1px dashed;
}

h3 {
    color: red;
}

.explode {
    background: url("/assets/explode.gif");
}